html {
    /*폰트 통일*/
    font-family: 'Noto Sans KR', sans-serif;
}
body {
    background-image: url('login_background_image.png');
}

.cat {
    margin: 10px;
    padding: 7px;
}

.writer {
    padding: 7px;
}

.title {
    color: gray;
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
    width: 30%;
    margin: 10px;
    padding: 10px;
}

.content {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 10px;
    border: 2px solid gray;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 100px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-5px);
    }
