extends ../layouts/main

block content
    .main
        // 회원가입 폼
        form.signupForm(action='', method='post')
            h1 회원가입
            .idForm
                input.id(type='text', placeholder='id를 입력하세요')
            .pwForm
                input.pw(type='text', placeholder='pw를 입력하세요')
            .nameForm
                input.name(type='text', placeholder='이름을 입력하세요')
            .phoneNumForm
                input.pn(type='text', placeholder='전화번호를 입력하세요(숫자로만)')
            .emailForm
                input.email(type='email', placeholder='이메일을 입력하세요')
            // 회원가입하기 누르면 메인페이지로
        button.signupBtn(type='button') SIGN UP


