extends ./layouts/main

block content
    .main
        // 회원가입 폼
        form.signupForm(action='/signup', method='post')
            br
            h1 회원가입
            .signupIdForm
                input.signupId(type='text', placeholder='id를 입력하세요', name="username")
            .signupPwForm
                input.signupPw(type='password', placeholder='pw는 4~12자의 영문 대소문자와 숫자' name="password")
            .signupNameForm
                input.signupName(type='text', placeholder='이름을 입력하세요' name="realname")
            .signupPhoneNumForm
                input.signupPn(type='text', placeholder='-포함 또는 숫자로만 전화번호를 입력하세요' name="phoneNumber")
            .signupEmailForm
                input.signupEmail(type='email', placeholder='이메일을 입력하세요' name="email")
        // 회원가입하기 누르면 메인페이지로
        button.signupBtn SIGN UP