body {
    height: 100%;
}
.loginForm {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 30px, 20px;
    background-color: #2a344a;
    text-align: center;
    top: 280px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

.loginForm h1 {
    font-size: 1.7em;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 30px;
}

.loginIdForm, .loginPwForm {
    border-bottom: 2px solid white;
    margin: 30px;
    padding: 10px 10px;
}

.loginId, .loginPw {
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-size: 100%;
    height: 25px;
    background: none;
}

.loginBtn {
    position: relative;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 200px;
    height: 7vh;
    background-color: white;
    background-position: left;
    color: #2a344a;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.bottomText {
    color: white;
    text-align: center;
}

.signupLink {
    color: white;
}