html {
    /*폰트 통일*/
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-image: url('img/login_background_image.png');
}

.uploadForm {
    margin-top: 100px;
}

.cat {
    margin: 10px;
    padding: 7px;
    width: 15%;
}

.uploadDate {
    font-size: 18px;
    margin: 10px;
    padding: 7px;
}

.title {
    color: gray;
    font-size: 18px;
    outline: none;
    border: none;
    width: 37%;
    margin: 10px;
    padding: 10px;
}


.filebox input[type="file"] {
    display: none;
}
.filebox label { 
    width: 13%;
    margin: 10px;
    display: inline-block;
    padding: 6px 25px;
    background-color:skyblue;
    border-radius: 4px;
    color: black;
    cursor: pointer;
}

.content {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 10px;
    border: 2px solid gray;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programUploadBtn {
    width: 100px;
    height: 35px;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}

.programUploadBtn:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    transform: translateY(-5px);
}


