doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles.css")
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap' rel='stylesheet')
        title Document

        title Document
    body 
        include ../partials/header
        main 
            block content 
        include ../partials/footer
        script(src="/static/main.js")